/* Untuk Tablet */
@media all and (max-width: 1000px) {

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

    .company_logo h1{
      font-size: 30px;
    }

    .header-right{
      display:none;
      overflow: hidden;
      background-color: #333;
      position: relative;
      color:white;
      margin-left: 58%;
    
    }
    .header-right a{
      color:white;
    }

    .menu-icon {
    transition-duration: 0.4s;
    font-size:25px;
    }
   
    .header-contact{
      display:none;
    }
    .container-menu span{
      display: block;

    }
  
}