* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
header{
  height: 65px;
  width: 100%;
  background-color: rgb(254 188 16);

  top: 0;
  z-index: 10;
}
.header-right {
  float: left;
  margin-left: -11%;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px; 
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-top {
    display: inline-block;
    width: 100%;
    background-color: #3c3c3c;
    border-top: 4px solid;
    color: #131010;
   
}
.header-tagline {
    text-transform: capitalize;
    font-style: normal;
    top: 0;
    color: #F1F1F1;
}
.active-border-color {
    border-color: #febc10 !important;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

}
.header-link{
	float: right;
}
.header-link span{
    padding: 7px 10px;
    display: inline-block;
    color: #fff!important;
    margin-left: 2px;
}
.header-link a{
	padding: 7px 10px;
    display: block;
    color: #fff!important;
    margin-left: 2px;
    background-color: #febc10 !important;
    transition: all 0.5s;
}
.header-company {
    float: left;
}
.company {
    display: inline-block;
    color: #464646;
}
.header-contact {
    display: inline-block;
    float: right;
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    color: #7f7d74;
    padding: 5px 15px;
    margin: 7px 0 0 0;
}
body.header-type-2 .header {
    position: relative;
    background: none;
    border: 0 none;
}
.header {
    color: #fff;
    z-index: 999!important;
    min-height: 60px;
}
.company_logo {
    float: left;
    margin-top: -11%;
}
.company_logo span{
    color:red;
}
.btn-color, .btn-default:hover, .btn-primary {
    color: #fff !important;
    background-color: #febc10 !important;
    -webkit-print-color-adjust: exact;
    border-color: #cc8a00 !important;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
.container-menu {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

}
.container-menu span{
    display: none;
    
}


