* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-top {
    display: inline-block;
    width: 100%;
    background-color: #3c3c3c;
    border-top: 4px solid;
    color: #131010;
   
}
.header-tagline {
    text-transform: capitalize;
    font-style: normal;
    top: 0;
    color: #F1F1F1;
}
.active-border-color {
    border-color: #febc10 !important;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header-link{
	float: right;
}
.header-link span{
    padding: 7px 10px;
    display: inline-block;
    color: #fff!important;
    margin-left: 2px;
}
.header-link a{
	padding: 7px 10px;
    display: block;
    color: #fff!important;
    margin-left: 2px;
    background-color: #febc10 !important;
    transition: all 0.5s;
}
.container {
    width: 95%!important;
    max-width: 1100px;
    position: relative;
}
.header-company {
    float: left;
}
.company {
    display: inline-block;
    color: #464646;
}
.header-contact {
    display: inline-block;
    float: right;
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    color: #7f7d74;
    padding: 5px 15px;
    margin: 7px 0 0 0;
}
body.header-type-2 .header {
    position: relative;
    background: none;
    border: 0 none;
}

